<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ULocalizer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <ULocalizer.Properties.Settings>
      <setting name="PathToEditor" serializeAs="String">
        <value>C:\Program Files\Epic Games\4.7\Engine\Binaries\Win64\UE4Editor.exe</value>
      </setting>
      <setting name="TranslateAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DeleteUnusedCultureFolders" serializeAs="String">
        <value>True</value>
      </setting>
    </ULocalizer.Properties.Settings>
  </userSettings>
</configuration>